#start-panel {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 1000px;
     height: 500px;
     background: lightblue;
     visibility: visible;
}

.start-button {
     width: 200px;
     height: 50px;
}
#logo {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(-10%, -10%);
    font-size: 50px;
    color: green;
    font-weight: bold;
}
#start-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

 #category-panel {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 1000px;
     height: 500px;
     background: lightblue;
     visibility: hidden;
}
 #end-panel {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 1000px;
     height: 500px;
     background: lightblue;
     visibility: hidden;
}
 .category-button {
     width: 200px;
     height: 50px;
     display: block;
}
#category-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
 #questions {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 1000px;
     height: 500px;
     background: lightblue;
     visibility: hidden;
}
 .answer-button {
     width: 200px;
     height: 50px;
     background-color: lightsilver;
}
 .answer-button:active {
     background-color: blue;
}
 h1 {
     color: green;
}
#question_and_answers {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#summary-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}